.header{
	display: block;
	.est-layout-page(100%);
	height: auto;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	.top-line{
		display: block;
		.est-layout-page(100%);
		height: 4px;
		background: linear-gradient(to right, #448dc2 , #6ff0ff );
		background: -webkit-linear-gradient(to right, #448dc2 , #6ff0ff );
		background: -o-linear-linear-gradient(to right, #448dc2 , #6ff0ff );
		background: -moz-linear-gradient(to right, #448dc2 , #6ff0ff );
		_background: #448dc2;
		background: #448dc2\9;
	}
}
.nav{
	display: block;
	.est-layout-page(1200px);
	height: 124px;
	overflow: hidden;
	.logo{
		width: 240px;
		text-align: center;
		padding-top: 38px;
		img{
			width: 240px;
			height: auto;
		}
	}
	.nav-text{
		display: block;
		width: 960px;
		height: 124px;
		line-height: 124px;
		overflow: hidden;
		ul{
			li{
				display: block;
				width: 120px;
				height: 124px;
				float: left;
				a{
					display: block;
					width: 120px;
					height: 124px;
					font-size: 18px;
					color: #201e26;
					background: none;
				}
				a:hover{
					background: url(../../images/nav-hover-bg.png) center no-repeat;
					color: #fff;
					transition: 0.3s ease-out;
				}
				ul{
                    background: rgba(255,255,255,0.8);
                    background: #fff;
                    opacity: 0.8;
                    filter: alpha(opacity=80);
                    display: none;
                    width: 100%;
                    height: 76px;
                    border-bottom: 1px solid #ddd;
                    position:absolute;
                    z-index:10;
                    left: 0;
                    padding-left: 580px;
                    >li{
                        a{
                            font-size: 12px;
                            font-weight: normal;
                            color: #448dc2;
                            line-height: 76px;
                        }
                        a:hover{
                            background: none;
                            color: #448dc2;
                            text-decoration: underline;
                        }
                    }
                }
			}
		}
	}
}