/*! normalize-opentype v0.1.2 | MIT License | kennethormandy.com/journal/normalize-opentype-css */
/**
     * 1. Turn on kerning, standard ligatures, and proportional, oldstyle numerals
     *    Turn off all other ligatures, tabular, lining numerals, and alternates
     */
html,
body {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 1. */
}
/* Headings
    ========================================================================== */
/**
     * 1. Turn on discretionary ligatures for larger headings
     */
h1,
h2,
h3 {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  /* 1. */
}
/* Text-level semantics
    ========================================================================== */
/**
     * 1. Change all letters to uppercase
     * 2. Turn on small caps for upper and lowercase letters
     */
abbr {
  text-transform: uppercase;
  /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  /* 2 */
}
/*
     * TODO: Turn on diagonal fractions where appropriate
     */
time {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}
/*
     * 1. Turn off kerning and ligatures,
     *    Turn on lining, tabular numerals, slashed zero
     */
pre,
kbd,
samp,
code {
  font-feature-settings: "kern" 0, "liga" 0, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}
/**
     * 1. Turn on proper supercript numerals
     */
sup {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  /* 1. */
}
/**
     * 1. Turn on proper subscript numerals
     */
sub {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  /* 1. */
}
/* Tables
    ========================================================================== */
/**
     * 1. Turns on tabular, lining numerals and slashed zero
     *    Turns off kerning, as it could impact tabular numerals
     */
table {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}
/**
     * 1. Revert to defaults for table headings
     */
table thead,
table tfoot {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 2. */
}
/* Forms
    ========================================================================== */
/**
     * 1. Turns on lining, proportional numerals without clarified zeroes
     * TODO: Additional input modes https://developer.mozilla.org/en/docs/Web/HTML/Element/Input#attr-inputmode
     */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
  /* 1. */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
body {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "wenquanyi micro hei", sans-serif;
  color: #201e26;
  font-size: 14px;
  background: #f0f3f5;
}
a {
  color: #201e26;
  text-decoration: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
ul,
ol,
li {
  list-style: none;
}
textarea::-webkit-input-placeholder {
  color: #add8e6;
}
textarea:-moz-placeholder {
  color: #add8e6;
}
textarea::-moz-placeholder {
  color: #add8e6;
}
textarea:-ms-input-placeholder {
  color: #add8e6;
}
.l-left {
  float: left;
}
.l-right {
  float: right;
}
.l-float {
  *zoom: 1;
}
.l-float:before,
.l-float:after {
  display: table;
  content: "";
}
.l-float:after {
  clear: both;
}
.mb {
  margin-bottom: 8px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt36 {
  margin-top: 36px;
}
.mt48 {
  margin-top: 48px;
}
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.ml24 {
  margin-left: 24px;
}
.mr8 {
  margin-right: 8px;
}
.mr14 {
  margin-right: 14px;
}
.mr24 {
  margin-right: 24px;
}
.nav {
  background: #fff;
  color: #084f23;
  font-size: 20px;
  text-align: center;
  height: 58px;
  line-height: 58px;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.mian {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.font-y {
  font-family: "Microsoft YaHei" Arial, sans-serif;
}
.font-s {
  font-family: "SimSun" Arial, sans-serif;
}
.fontc-bai {
  color: #ffffff;
}
.fontc-hei {
  color: #201e26;
}
.fontc-blue {
  color: #448dc2;
}
.fontc-lv {
  color: #bfeb65;
}
.fontc0 {
  color: #000 !important;
}
.fontz36 {
  font-size: 36px;
}
.fontz30 {
  font-size: 30px;
}
.fontz28 {
  font-size: 28px;
}
.fontz24 {
  font-size: 24px;
}
.fontz18 {
  font-size: 18px;
}
.fontz16 {
  font-size: 16px;
}
.fontz14 {
  font-size: 14px;
}
.fontz12 {
  font-size: 12px;
}
.fwb {
  font-weight: bold;
}
.textc {
  text-align: center;
}
.textl {
  text-align: left;
}
.textr {
  text-align: right;
}
.header {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.header .top-line {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 4px;
  background: linear-gradient(to right, #448dc2, #6ff0ff);
  background: -webkit-linear-gradient(to right, #448dc2, #6ff0ff);
  background: -o-linear-linear-gradient(to right, #448dc2, #6ff0ff);
  background: -moz-linear-gradient(to right, #448dc2, #6ff0ff);
  _background: #448dc2;
  background: #448dc2\9;
}
.nav {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  height: 124px;
  overflow: hidden;
}
.nav .logo {
  width: 286px;
  text-align: center;
  padding-top: 38px;
}
.nav .nav-text {
  display: block;
  width: 914px;
  height: 124px;
  line-height: 124px;
  overflow: hidden;
}
.nav .nav-text ul li {
  display: block;
  width: 120px;
  height: 124px;
  float: left;
}
.nav .nav-text ul li a {
  display: block;
  width: 120px;
  height: 124px;
  font-size: 18px;
  color: #201e26;
  background: none;
}
.nav .nav-text ul li a:hover {
  background: url(../../images/nav-hover-bg.png) center no-repeat;
  color: #fff;
  transition: 0.3s ease-out;
}
.nav .nav-text ul li ul {
  background: rgba(255, 255, 255, 0.8);
  background: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
  display: none;
  width: 100%;
  height: 76px;
  position: absolute;
  z-index: 10;
  left: 0;
  padding-left: 580px;
}
.nav .nav-text ul li ul > li a {
  font-size: 12px;
  font-weight: normal;
  color: #448dc2;
  line-height: 76px;
}
.nav .nav-text ul li ul > li a:hover {
  background: none;
  color: #448dc2;
  text-decoration: underline;
}
.lubo {
  width: 100%;
  min-width: 1000px;
  clear: both;
  position: relative;
  height: 368px;
}
.lubo_box {
  position: relative;
  width: 100%;
  height: 368px;
}
.lubo_box li {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 368px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.lubo_box li a {
  display: block;
  width: 100%;
  height: 100%;
}
.lubo_box li img {
  width: 100%;
  height: 368px;
}
/*圆点*/
.cir_box {
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
.cir_box li {
  float: left;
  width: 30px;
  height: 5px;
  margin: 0 5px;
  cursor: pointer;
  background: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.cir_on {
  background: #000 !important;
}
/*按钮*/
.lubo_btn {
  position: absolute;
  width: 100%;
  top: 128px;
}
.left_btn,
.right_btn {
  width: 24px;
  height: 60px;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=60);
  cursor: pointer;
  color: #fff;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.left_btn {
  float: left;
}
.right_btn {
  float: right;
}
.service {
  display: block;
  width: 1200px;
  height: 140px;
}
.service li {
  display: block;
  float: left;
  width: 300px;
  height: 140px;
  line-height: 140px;
}
.service li a {
  font-size: 30px;
  color: #fff;
}
.service .supply {
  background: #448dc2 url(../../images/ic-supply.png) 14px center no-repeat;
  text-indent: 134px;
}
.service .o2o {
  background: #4cc6d4 url(../../images/ic-o2o.png) 16px center no-repeat;
  text-indent: 146px;
}
.service .finance {
  background: #6ff0ff url(../../images/ic-finance.png) 14px center no-repeat;
  text-indent: 112px;
}
.service .leasing {
  background: #00d8b3 url(../../images/ic-leasing.png) 22px center no-repeat;
  text-indent: 148px;
}
.col-tit {
  display: block;
  width: 624px;
  margin: 0 288px;
  text-align: center;
}
.col-tit h1 {
  display: block;
  height: 50px;
  line-height: 50px;
  position: relative;
  top: 25px;
  z-index: 99;
  font-size: 48px;
  color: #448dc2;
  font-weight: bold;
  border-top: 1px solid #4cc6d4;
}
.col-tit h1 span {
  display: inline-block;
  width: 240px;
  position: relative;
  top: -26px;
  z-index: 999;
  background: #f0f3f5;
  text-align: center;
}
.col-tit h3 {
  font-size: 24px;
  color: #bfeb65;
  margin-top: 24px;
}
.bg-w {
  background: #fff !important;
}
.advan {
  display: block;
  width: 1200px;
  height: auto;
  margin-top: 56px;
}
.advan .col-ic {
  display: block;
  width: 100%;
  margin: 62px 0;
}
.advan .col-ic li {
  display: block;
  float: left;
  text-align: center;
  color: #4cc6d4;
}
.advan .col-ic li .col-img {
  display: block;
  margin: 0 auto;
}
.advan .col-ic li h2 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 16px;
}
.advan .col-ic li .col-txt {
  display: block;
  width: 200px;
  margin: 18px auto;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
}
.advan .col-ic .col-4 {
  width: 25%;
}
.advan .col-ic .col-3 {
  width: 33.333%;
}
.case-pic {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  padding-top: 42px;
}
.case-pic .wrap {
  margin-top: 16px;
}
.case-pic .wrap ul {
  height: 237px;
  overflow: hidden;
  clear: both;
  *zoom: 1;
  margin-left: 36px;
}
.case-pic .wrap li {
  display: inline-block;
  position: relative;
  width: 271px;
  height: 237px;
  float: left;
  margin-right: 20px;
}
.case-pic .wrap li .wrap-pic {
  display: inline-block;
  width: 271px;
  height: 203px;
  overflow: hidden;
}
.case-pic .wrap li .wrap-pic img {
  width: 271px;
  height: 203px;
}
.case-pic .wrap li .wrap-info {
  display: block;
  width: 271px;
  height: 34px;
  line-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.case-pic .wrap li .wrap-info a {
  display: block;
  width: 271px;
  color: #201e26;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.case-pic .wrap li :hover {
  cursor: pointer;
  text-decoration: underline;
}
.case-pic input {
  display: inline-block;
  position: relative;
  top: -158px;
  width: 18px;
  height: 54px;
  border: none;
  outline: none;
  float: left;
}
.case-pic .prev1 {
  background: #bfeb65 url(../../images/arrow-prev.png) center center no-repeat;
}
.case-pic .next1 {
  left: 1164px;
  background: #bfeb65 url(../../images/arrow-next.png) center center no-repeat;
}
.fooder {
  display: block;
  height: 84px;
  line-height: 84px;
  padding-left: 16px;
  color: #fff;
  background: #201e26;
}
.fooder .copyright {
  display: block;
}
.fooder .copyright span {
  display: inline-block;
  margin-right: 14px;
}
.col-link {
  display: block;
  width: auto;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  margin-top: 38px;
}
.col-link span {
  display: inline-block;
  float: left;
  margin-right: 8px;
}
.col-link a {
  display: inline-block;
  float: left;
  margin-right: 8px;
}
.col-tab {
  display: block;
  width: auto;
  height: 38px;
  margin-top: 24px;
}
.col-tab li {
  display: block;
  float: left;
  width: 138px;
  height: 38px;
  margin-right: 26px;
}
.col-tab li a {
  display: inline-block;
  width: 138px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #448dc2;
  border-radius: 8px;
  border: 1px solid #04c191;
}
.col-tab li a:hover {
  background: url(../../images/infotab-bg.png) repeat-x;
  border: none;
  color: #fff;
  transition: 0.2s;
}
.col-tab .current {
  background: url(../../images/infotab-bg.png) repeat-x;
  border: none;
  color: #fff;
}
.col-info {
  margin-top: 28px;
}
.col-info .info-img {
  display: block;
  width: 1200px;
  height: auto;
  margin-bottom: 42px;
}
.col-info .info-txt {
  display: block;
  padding: 0 16px;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 36px;
}
